includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 10

    paths:
        - app/

    excludePaths:
        - */vendor/

    checkImplicitMixed: true
    checkBenevolentUnionTypes: true
    treatPhpDocTypesAsCertain: false
